<div id="tweeting">
	
	<h1>Tweet Sentiment Data</h1>
	<br>
	<p>Showing results for <%= @tweetuser %></p>
	<p>Showing results for <%= @tweetcountry %></p>
	<p>Showing results for <%= @tweettext %></p>
	<p>Showing results for <%= @sentiment %></p>
	<div id="test">
		<svg id="fillgauge1" width="19%" height="200"></svg>
		<br>
		<svg id="fillgauge2" width="19%" height="200"></svg>		
		<svg id="fillgauge3" width="19%" height="200"></svg>
		<svg id="fillgauge4" width="19%" height="200"></svg>
		<svg id="fillgauge5" width="19%" height="200"></svg>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<%= javascript_include_tag 'liquidFillGauge' %>
